<div class="quiz" ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetricFactObj.isShowQuiz">
  <div class="row">
    <div class="col-xs-8">
      <h2>Progress</h2>
      <div class="btn-toolbar">
        <button class="btn" ng-repeat="currentQuestionObj in quiz.quizDataObj"  ng-class="{'btn-success': currentQuestionObj.correct, 'btn-danger': !currentQuestionObj.correct}" ng-click="results.setActiveQuestion($index)">
                  <span class="glyphicon"
                    ng-class="{'glyphicon-pencil': currentQuestionObj.selected !==null , 'glyphicon-question-sign':currentQuestionObj.selected === null }"
                  ></span>
             </button>
      </div>
    </div>
    <div class="col-xs-4">
      <h4>Legend:</h4>
      <div class="col-sm-4">
        <button class="btn btn-success">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        <p>Correct</p>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-danger">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
        <p>Incorrect</p>
      </div>
    </div>
  </div>


  <div class="row">
    <h3>Question:</h3>
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-12">
          <!-- Question Area -->
          <h4>{{quiz.quizDataObj[quiz.activeQuestionCount].text}}</h4>
        </div>
      </div>
    </div>
  </div>
   <div class="row" ng-if="quiz.selectedFlags">   
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-12">
          <!-- Question Area -->
          <h4>You have select answer</h4>
        </div>
      </div>
    </div>
  </div>


  
  <div class="row">
    <div class="col-sm-6" ng-repeat="ans in quiz.quizDataObj[quiz.activeQuestionCount].possibilities" ng-if="quiz.quizDataObj[quiz.activeQuestionCount].type === 'text'">
      <h4 class="answer" ng-class="{'btn-info' : $index === quiz.quizDataObj[quiz.activeQuestionCount].selected}" ng-click="quiz.currentAnsOptfn($index)">
      {{ans.answer}}
    </h4>
    </div>

    <div class="col-sm-6" ng-repeat="ans in quiz.quizDataObj[quiz.activeQuestionCount].possibilities" ng-if="quiz.quizDataObj[quiz.activeQuestionCount].type === 'image'">
      <div class="image-answer"
      ng-class="{'image-selected': $index === quiz.quizDataObj[quiz.activeQuestionCount].selected}"
                  ng-click="quiz.currentAnsOptfn($index)"
      >
        <img class="well-image img-rounded" ng-src="{{ans.answer}}" alt="">
      </div>
    </div>

  </div>
  <button class="btn btn-warning pull-right" ng-click="quiz.contBtnClick()" ng-disabled="quiz.activeQuestionCount === quiz.quizDataObj.length">Continue</button>

  <div class="row">
    <div class="result" ng-if="quiz.quizMetricFactObj.showResult">
        <h3>Final Result is</h3>
        <h3>Correct Answer Count {{quiz.quizMetricFactObj.numCorrect}}</h3>
        <h3>Percentage {{(quiz.quizMetricFactObj.numCorrect / quiz.quizDataObj.length) * 100}}  </h3>    
    </div>
  </div>

</div>


